
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Carros</title>
</head>

<body>

<div th:replace="cabecalho :: nav"></div>

<div class="container my-2">

    <h1>Carros</h1>

    <div>
        <a class="btn btn-primary btn-sm mb-3 float-right"
           th:href="@{/cars/form}">
            Adicionar Carro
        </a>
    </div>

    <table class="table table-striped table-responsive-md">

        <thead>
            <tr>
                <th>Placa</th>
                <th>Proprietário</th>
                <th>Chassi</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="car : ${carros}">

                <td th:text="${car.licensePlate}"></td>
                <td th:text="${car.user.name}"></td>
                <td th:text="${car.chassis}"></td>
                <td th:text="${car.manufactureYear}"></td>

                <td>

                    <a class="btn btn-primary"
                       th:href="@{/cars/{id}(id=${car.id})}">
                        Alterar
                    </a>

                    <a class="btn btn-danger"
                       th:href="@{/cars/delete/{id}(id=${car.id})}">
                        Excluir
                    </a>

                </td>

            </tr>

        </tbody>

    </table>

</div>

</body>
</html>

