<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="cabecalho :: head"></div>

    <title>Crud Manager - Penalties</title>
</head>
<body>
<div th:replace="cabecalho :: nav"></div>
<div class="container my-2">

    <h1>Penalties</h1>

    <div>
        <a class="btn btn-primary btn-sm mb-3 float-right"
           th:href="@{/penalties/form}">
            Add Penalty
        </a>
    </div>

    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Cost</th>
                <th>Location</th>
                <th>Policeman</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="penalty : ${penalties}">

                <td th:text="${penalty.car.licensePlate}"></td>

                <td th:text="${penalty.cost}"></td>

                <td th:text="${penalty.location}"></td>

                <td th:text="${penalty.policeman.name}"></td>

                <td>
                    <a class="btn btn-primary"
                       th:href="@{/penalties/{id}(id=${penalty.id})}">
                        Edit
                    </a>

                    <a class="btn btn-danger"
                       th:href="@{/penalties/delete/{id}(id=${penalty.id})}">
                        Delete
                    </a>
                </td>

            </tr>
        </tbody>

    </table>

</div>

</body>
</html>