<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Car</title>
</head>

<body>
    <div class="container my-2">
        <h2>Car</h2>

        <form th:action="@{/cars/save}"
              method="POST"
              th:object="${car}">

            <input type="hidden" id="id" th:field="*{id}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('licensePlate')}"
                  th:errors="*{licensePlate}">
            </span>
            <input type="text"
                   placeholder="License Plate"
                   class="form-control mb-4 col-4"
                   th:field="*{licensePlate}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('cpfOrCnpj')}"
                  th:errors="*{cpfOrCnpj}">
            </span>
            <input type="text"
                   placeholder="CPF or CNPJ"
                   class="form-control mb-4 col-4"
                   th:field="*{cpfOrCnpj}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('chassis')}"
                  th:errors="*{chassis}">
            </span>
            <input type="text"
                   placeholder="Chassis"
                   class="form-control mb-4 col-4"
                   th:field="*{chassis}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('year')}"
                  th:errors="*{year}">
            </span>
            <input type="number"
                   placeholder="Year"
                   class="form-control mb-4 col-4"
                   th:field="*{year}">

            <button type="submit" class="btn btn-info col-2">
                Save
            </button>

        </form>

        <hr>

        <a th:href="@{/cars}">
            Cars
        </a>

    </div>
</body>
</html>